---
import GithubLink from "@/components/github-link.astro";
import LinkedinLink from "@/components/linkedin-link.astro";
import Header from "@/components/header.astro";
import RootLayout from "@/layouts/root.astro";
import Networks from "@/components/networks.astro";
---

<RootLayout class="bg-[url('pattern.jpg')] text-zinc-100">
    <Header>
        <a href="/" title="Passer en anglais">
            <img
                src="gb.svg"
                class="size-9 rounded-full border border-zinc-700"
            />
        </a>
    </Header>
    <section class="flex justify-center py-24 px-1">
        <div class="space-y-9 text-center">
            <h1 class="text-6xl font-black">Hello 👋</h1>
            <p class="text-xl text-zinc-300 max-w-80">
                Je m'appelle Toma, je suis ingénieur logiciel et aujourd'hui je
                travaille chez <a
                    class="underline hover:text-indigo-500 duration-100"
                    href="https://www.astradal.com/">Astradal</a
                > à Toulouse.
            </p>
            <Networks />
        </div>
    </section>
</RootLayout>
