---
import { Image } from "astro:assets";
import RootLayout from "@/layouts/root.astro";
import Header from "@/components/header.astro";
import Networks from "@/components/networks.astro";
import ViteIcon from "@/components/icons/vite-icon.astro";
import ReactIcon from "@/components/icons/react-icon.astro";
import AstroIcon from "@/components/icons/astro-icon.astro";
import TypescriptIcon from "@/components/icons/typescript-icon.astro";
import CSharpIcon from "@/components/icons/c-sharp-icon.astro";
import CPlusPlusIcon from "@/components/icons/cplusplus-icon.astro";
import NextjsIcon from "@/components/icons/nextjs-icon.astro";
import TailwindcssIcon from "@/components/icons/tailwindcss-icon.astro";
import SanityIcon from "@/components/icons/sanity-icon.astro";
import DockerIcon from "@/components/icons/docker-icon.astro";
import PostgresqlIcon from "@/components/icons/postgresql-icon.astro";
import Project from "@/components/project.astro";
---

<RootLayout>
    <Header>
        <a href="/" title="Version anglaise">
            <Image
                src="/gb.svg"
                alt="en"
                width={36}
                height={36}
                class="size-9 rounded-full border border-zinc-700"
            />
        </a>
    </Header>
    <main>
        <section
            class="flex justify-center py-24 px-1 flex-col text-center items-center gap-6"
        >
            <h1 id="hello" class="text-6xl font-black group">
                Hello <span
                    class="text-6xl inline-block group-hover:animate-wave origin-[70%_70%]"
                    >👋</span
                >
            </h1>
            <p class="text-xl text-zinc-300 max-w-80">
                Je m'appelle Toma, je suis ingénieur logiciel et aujourd'hui je
                travaille chez
                <a
                    target="_blank"
                    rel="noreferrer"
                    class="underline hover:text-indigo-500 duration-100"
                    href="https://www.astradal.com/">Astradal</a
                >
                à Toulouse.
            </p>
            <Networks />
        </section>
        <section id="projects">
            <header
                class="sm:w-8/12 md:w-7/12 lg:w-6/12 h-20 mx-auto grid place-items-center bg-gradient-to-r from-transparent via-zinc-100/5 border-y border-zinc-700 to-transparent"
            >
                <h2 class="text-4xl">Projets</h2>
            </header>
            <div
                class="grid gap-12 py-24 xl:grid-cols-2 px-2 sm:w-9/12 mx-auto"
            >
                <Project
                    link="#"
                    title="Astradal - Map Designer"
                    imageSrc="/map-designer-astradal.jpg"
                    imageAlt="Edition de cartes en direct dans l'application Astradal Map Designer"
                >
                    <div class="flex gap-3">
                        <ViteIcon />
                        <TypescriptIcon />
                        <ReactIcon />
                    </div>
                    <div class="flex gap-3">
                        <CSharpIcon />
                        <PostgresqlIcon />
                        <DockerIcon />
                    </div>
                </Project>
                <Project
                    link="https://www.janedoagency.com"
                    title="Jane Do Agency - Site vitrine"
                    imageSrc="/website-jane-do.jpg"
                    imageAlt="Page d'accueil de l'agence Jane Do"
                >
                    <div class="flex gap-3">
                        <TypescriptIcon />
                        <NextjsIcon />
                        <TailwindcssIcon />
                    </div>
                    <div class="flex gap-3">
                        <SanityIcon />
                    </div>
                </Project>
                <Project
                    link="https://github.com/TanStack/form/pulls?q=is%3Apr+author%3At-rosa+"
                    title="Tanstack - Contributeur Open Source"
                    imageSrc="/tanstack.jpg"
                    imageAlt="Page d'accueil de Tanstack"
                >
                    <TypescriptIcon />
                </Project>
                <Project
                    link="https://www.maisondelamascotte.com"
                    title="Maison de la mascotte"
                    imageSrc="/maison-mascotte.jpg"
                    imageAlt="Page d'accueil du site Maison de la mascotte"
                >
                    <div class="flex gap-3 items-center">
                        <TypescriptIcon />
                        <AstroIcon />
                        <TailwindcssIcon />
                    </div>
                </Project>
                <Project
                    link="https://github.com/t-rosa/www.t-rosa.com"
                    title="Portfolio"
                    imageSrc="/portfolio.jpg"
                    imageAlt="Page d'acceuil de mon portfolio"
                >
                    <div class="flex gap-3 items-center">
                        <TypescriptIcon />
                        <AstroIcon />
                        <TailwindcssIcon />
                    </div>
                </Project>
                <Project
                    link="https://www.dofus.com/fr/mmorpg/encyclopedie/ressources/12728-ardonite"
                    title="Ardonite - Bientôt!"
                    imageSrc="/ardonite.gif"
                    imageAlt="Extrait de mon jeu Ardonite"
                >
                    <div class="flex gap-3 items-center">
                        <TypescriptIcon />
                        <CSharpIcon />
                        <CPlusPlusIcon />
                        <span class="text-xs text-zinc-400"
                            >*différentes versions</span
                        >
                    </div>
                </Project>
            </div>
        </section>
    </main>
</RootLayout>
