---
import RootLayout from "@/layouts/root.astro";
import Header from "@/components/header.astro";
import Networks from "@/components/networks.astro";
import AstroIcon from "@/components/icons/astro-icon.astro";
import ViteIcon from "@/components/icons/vite-icon.astro";
import ReactIcon from "@/components/icons/react-icon.astro";
import TypescriptIcon from "@/components/icons/typescript-icon.astro";
import CSharpIcon from "@/components/icons/c-sharp-icon.astro";
import CPlusPlusIcon from "@/components/icons/cplusplus-icon.astro";
import NextjsIcon from "@/components/icons/nextjs-icon.astro";
import TailwindcssIcon from "@/components/icons/tailwindcss-icon.astro";
import SanityIcon from "@/components/icons/sanity-icon.astro";
import DockerIcon from "@/components/icons/docker-icon.astro";
import PostgresqlIcon from "@/components/icons/postgresql-icon.astro";
import Project from "@/components/project.astro";
import { Image } from "astro:assets";
---

<RootLayout>
    <Header>
        <a href="/fr" title="Switch to french">
            <Image
                alt="fr"
                src="/fr.svg"
                width={36}
                height={36}
                class="size-9 rounded-full border border-zinc-700"
            />
        </a>
    </Header>
    <main>
        <section
            class="flex justify-center py-24 px-1 flex-col text-center items-center gap-6"
        >
            <h1 id="hello" class="text-6xl font-black group">
                Hello <span
                    class="text-6xl inline-block group-hover:animate-wave origin-[70%_70%]"
                    >👋</span
                >
            </h1>

            <p class="text-xl text-zinc-300 max-w-80">
                My name is Toma, I'm a software engineer and I'm currently
                working at <a
                    target="_blank"
                    rel="noreferrer"
                    class="underline hover:text-indigo-500 duration-100"
                    href="https://www.astradal.com/">Astradal</a
                > in Toulouse, France.
            </p>
            <Networks />
        </section>
        <section id="projects">
            <header
                class="sm:w-8/12 md:w-7/12 lg:w-6/12 h-20 mx-auto grid place-items-center bg-gradient-to-r from-transparent via-zinc-100/5 border-y border-zinc-700 to-transparent"
            >
                <h2 class="text-4xl">Projects</h2>
            </header>
            <div
                class="grid gap-12 py-24 xl:grid-cols-2 px-2 sm:w-9/12 mx-auto"
            >
                <Project
                    link="#"
                    title="Astradal - Map Designer"
                    imageSrc="/map-designer-astradal.jpg"
                    imageAlt="Live map edition inside Astradal Map Designer application"
                >
                    <div class="flex gap-3">
                        <ViteIcon />
                        <TypescriptIcon />
                        <ReactIcon />
                    </div>
                    <div class="flex gap-3">
                        <CSharpIcon />
                        <PostgresqlIcon />
                        <DockerIcon />
                    </div>
                </Project>
                <Project
                    link="https://www.janedoagency.com"
                    title="Jane Do Agency - Website"
                    imageSrc="/website-jane-do.jpg"
                    imageAlt="Jane Do Agency home page"
                >
                    <div class="flex gap-3">
                        <TypescriptIcon />
                        <NextjsIcon />
                        <TailwindcssIcon />
                    </div>
                    <div class="flex gap-3">
                        <SanityIcon />
                    </div>
                </Project>
                <Project
                    link="https://github.com/TanStack/form/pulls?q=is%3Apr+author%3At-rosa+"
                    title="Tanstack - Open Source Contributor"
                    imageSrc="/tanstack.jpg"
                    imageAlt="Tanstack home page"
                >
                    <TypescriptIcon />
                </Project>
                <Project
                    link="https://www.maisondelamascotte.com"
                    title="Maison de la mascotte"
                    imageSrc="/maison-mascotte.jpg"
                    imageAlt="Maison de la mascotte home page"
                >
                    <div class="flex gap-3 items-center">
                        <TypescriptIcon />
                        <AstroIcon />
                        <TailwindcssIcon />
                    </div>
                </Project>
                <Project
                    link="https://github.com/t-rosa/www.t-rosa.com"
                    title="Portfolio"
                    imageSrc="/portfolio.jpg"
                    imageAlt="Portfolio home page"
                >
                    <div class="flex gap-3 items-center">
                        <TypescriptIcon />
                        <AstroIcon />
                        <TailwindcssIcon />
                    </div>
                </Project>
                <Project
                    link="https://www.dofus.com/fr/mmorpg/encyclopedie/ressources/12728-ardonite"
                    title="Ardonite - Soon!"
                    imageSrc="/ardonite.gif"
                    imageAlt="Extract from my game Ardonite"
                >
                    <div class="flex gap-3 items-center">
                        <TypescriptIcon />
                        <CSharpIcon />
                        <CPlusPlusIcon />
                        <span class="text-xs text-zinc-400"
                            >*several versions</span
                        >
                    </div>
                </Project>
            </div>
        </section>
        <section id="path">
            <header
                class="sm:w-8/12 md:w-7/12 lg:w-6/12 h-20 mx-auto grid place-items-center bg-gradient-to-r from-transparent via-zinc-100/5 border-y border-zinc-700 to-transparent"
            >
                <h2 class="text-4xl">Learning journey</h2>
            </header>
            <div class="pt-24 px-2 sm:w-9/12 mx-auto grid gap-12">
                <div class="border-l pl-6 border-zinc-400 space-y-6">
                    <div class="space-y-2">
                        <h3
                            class="text-3xl font-semibold underline underline-offset-4"
                        >
                            I. The beginning
                        </h3>
                        <p class="text-lg text-zinc-400">2012 - 2015</p>
                    </div>
                    <ul class="list-disc pl-6 space-y-2">
                        <li>How the internet works</li>
                        <li>ip addressing</li>
                        <li>CISCO switches configuration</li>
                        <li>CISCO routers configuration</li>
                        <li>VoIP with 3CX</li>
                        <li>Private network creation and administration</li>
                    </ul>
                </div>
                <div class="border-l pl-6 border-zinc-400 space-y-6">
                    <div class="space-y-2">
                        <h3
                            class="text-3xl font-semibold underline underline-offset-4"
                        >
                            II. First steps
                        </h3>
                        <p class="text-lg text-zinc-400">2015 - 2017</p>
                    </div>
                    <ul class="list-disc pl-6 space-y-2">
                        <li>Basic algorithms</li>
                        <li>C# Win Form apps</li>
                        <li>MYSQL / PHP / JavaScript</li>
                        <li>Linux shell basics (No GUI allowed)</li>
                        <li>
                            Windows Server and linux (debian) users
                            administrations
                        </li>
                        <li>IIS Web server creation</li>
                        <li>File Server with windows and linux (Samba)</li>
                        <li>Bash scripting</li>
                    </ul>
                </div>
                <div class="border-l pl-6 border-zinc-400 space-y-6">
                    <div class="space-y-2">
                        <h3
                            class="text-3xl font-semibold underline underline-offset-4"
                        >
                            III. Baby worker
                        </h3>
                        <p class="text-lg text-zinc-400">2017 - 2020</p>
                    </div>
                    <ul class="list-disc pl-6 space-y-2">
                        <li>Basics Java</li>
                        <li>Basics C</li>
                        <li>OOP concepts</li>
                        <li>More C# Win Form apps</li>
                        <li>C# Windows service</li>
                        <li>Microsoft SQL Server (a lot)</li>
                        <li>Docker</li>
                        <li>PHP</li>
                        <li>Bootsrap</li>
                        <li>Git</li>
                        <li>Pure JS intern tooling</li>
                        <li>Mircrosoft ASP.NET Core MVC</li>
                        <li>Blazor</li>
                        <li>React</li>
                    </ul>
                </div>
                <div class="border-l pl-6 border-zinc-400 space-y-6">
                    <div class="space-y-2">
                        <h3
                            class="text-3xl font-semibold underline underline-offset-4"
                        >
                            III. Baby dev
                        </h3>
                        <p class="text-lg text-zinc-400">2020 - 2023</p>
                    </div>
                    <ul class="list-disc pl-6 space-y-2">
                        <li>Programming fundamentals</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>Vue (2)</li>
                        <li>React</li>
                        <li>Node.JS</li>
                        <li>Vite JS</li>
                        <li>Github Action & pipelines</li>
                        <li>Docker (again and a lot)</li>
                        <li>Postgres</li>
                        <li>OpenLayers</li>
                        <li>Microsoft Azure</li>
                        <li>Google cloud</li>
                        <li>Typescript</li>
                        <li>CSS Module</li>
                        <li>Styled Component</li>
                        <li>Tailwind CSS</li>
                        <li>Next.JS</li>
                        <li>Redwood</li>
                        <li>Blitz JS</li>
                        <li>Solid JS</li>
                        <li>Vim (hallelujah)</li>
                        <li>lua</li>
                        <li>Nest.js</li>
                        <li>Yarn, pnpm, npm workspace, Nx and Turbo Monrepo</li>
                        <li>C# Web API (dotnet 6/7/8)</li>
                        <li>Go basics (love it)</li>
                        <li>Rust basics (love it too)</li>
                        <li>Tanstack Table/Query/Router/Virtual/etc</li>
                        <li>Three JS</li>
                    </ul>
                </div>
                <div class="border-l pl-6 border-zinc-400 space-y-6">
                    <div class="space-y-2">
                        <h3
                            class="text-3xl font-semibold underline underline-offset-4"
                        >
                            III. Baby dev++
                        </h3>
                        <p class="text-lg text-zinc-400">2023 - Today</p>
                    </div>
                    <ul class="list-disc pl-6 space-y-2">
                        <li>Remix</li>
                        <li>More C#</li>
                        <li>More Typescript</li>
                        <li>More Postgresql</li>
                        <li>More React</li>
                        <li>More FullStack</li>
                        <li>Shadcn UI, Park UI</li>
                        <li>Panda CSS</li>
                        <li>XState</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Raylib</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</RootLayout>
