---
import RootLayout from "@/layouts/root.astro";

import Header from "@/components/header.astro";
import Networks from "@/components/networks.astro";
---

<RootLayout>
    <Header>
        <a href="/fr" title="Switch to french">
            <img
                src="/fr.svg"
                class="size-9 rounded-full border border-zinc-700"
            />
        </a>
    </Header>
    <section class="flex justify-center py-24 px-1">
        <div class="space-y-9 text-center">
            <h1 class="text-6xl font-black">Hello 👋</h1>
            <p class="text-xl text-zinc-300 max-w-80">
                My name is Toma, I'm a software engineer and I'm currently
                working at <a
                    class="underline hover:text-indigo-500 duration-100"
                    href="https://www.astradal.com/">Astradal</a
                > in Toulouse, France.
            </p>
            <Networks />
        </div>
    </section>
</RootLayout>
