---
import github from "@/assets/github.svg";
import linkedin from "@/assets/linkedin.svg";
import mail from "@/assets/mail.svg";
import RootLayout from "@/layouts/root.astro";
import { Image } from "astro:assets";
---

<RootLayout>
    <main id="background">
        <div class="h-full py-9 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-3xl flex flex-col gap-9">
                <section class="text-center text-balance flex flex-col gap-6 pb-6">
                    <h1 class="text-center scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                        Hello &#128075;
                    </h1>
                    <p class="text-xl">
                        Je m'appelle Toma, je suis développeur web full stack et aujourd'hui je travaille chez <a
                            href="https://www.astradal.com/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="underline">Astradal</a
                        > à Toulouse.
                    </p>
                    <nav class="mt-6 flex justify-center gap-12 items-center">
                        <a data-github href="https://github.com/t-rosa" class="hover:scale-125 duration-300">
                            <Image src={github} alt="Github" class="w-10" />
                        </a>
                        <a
                            data-linkedin
                            href="https://www.linkedin.com/in/toma-rosa/"
                            class="hover:scale-125 duration-300"
                        >
                            <Image src={linkedin} alt="Linkedin" class="w-10" />
                        </a>
                        <a data-mail href="mailto:toma.rosa@protonmail.com" class="hover:scale-125 duration-300">
                            <Image src={mail} alt="Mail" class="w-10" />
                        </a>
                    </nav>
                </section>
                <section>
                    <h2
                        class="scroll-m-20 mb-9 border-muted-foreground border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
                    >
                        Astradal
                    </h2>
                    <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">Missions</h3>
                    <p class="leading-7 [&:not(:first-child)]:mt-6">
                        J'ai été amené à travailler sur une refonte de nos applications web, de sorte à les rendre plus
                        modernes, plus performantes et surtout plus robustes. J'ai également fait tout un travail
                        d'amélioration/mise en place d'outils et de processus de développements, pour simplifier et
                        améliorer l'expérience de développement.
                    </p>
                    <br />
                    <p>Voici une liste non exhaustive des actions que j'ai pu mener :</p>
                    <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                        <li>Modélisation d'une base de données SQL avec PostgreSQL,</li>
                        <li>
                            Développement d'une API REST avec .NET 8 en C# et d'une application web avec React et
                            Typescript,
                        </li>
                        <li>
                            Mise en place d'un système de CI/CD avec Github Actions et Docker pour le déploiement et
                            l'exécution des tests,
                        </li>
                        <li>Définitions de normes/règles de développement et de bonnes pratiques.</li>
                    </ul>
                    <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">Technologies spécifiques</h3>
                    <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                        <li>OpenLayers</li>
                        <li>Zustand</li>
                        <li>Tanstack Router/Query/Table</li>
                        <li>TailwindCSS et ShadcnUI</li>
                        <li>NetTopologySuite</li>
                        <li>Swagger</li>
                        <li>OpenAPI Typescript Codegen</li>
                        <li>Vitest</li>
                        <li>Playwright</li>
                        <li>Postgis</li>
                    </ul>
                    <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">Liens</h3>
                    <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                        <li>
                            <a
                                href="https://www.astradal.fr/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="underline">Ancien portail applicatif</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://app.astradal.com/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="underline">Nouveau portail applicatif</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.astradal.com/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="underline">Site web</a
                            >
                        </li>
                    </ul>
                </section>
                <section>
                    <h2
                        class="scroll-m-20 mb-9 border-muted-foreground border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
                    >
                        Jane Do Agency
                    </h2>
                    <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">Missions</h3>
                    <p class="leading-7 [&:not(:first-child)]:mt-6">
                        Jane Do Agency est une agence de communication spécialisée dans le domaine de la musique et j'ai
                        été missioné afin de réaliser le site web de l'agence. J'ai travaillé en étroite collaboration
                        avec les équipes et le designer UI/UX afin de réaliser un site esthétique, fonctionnel et
                        surtout performant.
                    </p>
                    <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                        <li>Développement d'un site vitrine avec React et Typescript</li>
                        <li>Mise en place d'un système de CI/CD avec Github Actions</li>
                    </ul>
                    <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">Technologies spécifiques</h3>
                    <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                        <li>Next JS</li>
                        <li>TailwindCSS</li>
                        <li>Cypress</li>
                    </ul>
                    <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">Liens</h3>
                    <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                        <li>
                            <a
                                href="https://www.janedoagency.com/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="underline">Site</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://github.com/t-rosa/www.janedoagency.com"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="underline">Github</a
                            >
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </main>

    <style>
        #background {
            @apply bg-[center_bottom];
        }

        #background:has(a[data-mail]:hover) {
            @apply bg-[left_bottom];
        }

        #background:has(a[data-github]:hover) {
            @apply bg-[bottom_right];
        }
    </style>
</RootLayout>
