---
import Container from "./container.astro";
---

<Container class="border-b">
  <footer class="border-x p-3">
    <p class="text-muted-foreground text-center text-xs">
      &copy; Made with ❤️ by myself :)
    </p>
  </footer>
</Container>
