---
import Container from "../components/container.astro";
---

<Container class="border-b">
  <section
    id="hero"
    class="grid-background grid place-items-center border-x p-6"
  >
    <div>
      <span class="font-code text-lg"
        ><span class="text-primary">[</span>Web<span class="text-primary"
          >]</span
        ></span
      >
      <h2 class="text-center text-4xl font-bold">Developper</h2>
    </div>
  </section>
</Container>
