---
import GithubIcon from "@/components/icons/github-icon.astro";
import LinkedinIcon from "@/components/icons/linkedin-icon.astro";
---

<nav class="flex items-center justify-center gap-6">
    <a
        target="_blank"
        rel="noreferrer"
        href="https://github.com/t-rosa"
        class="p-2 border-2 rounded-md hover:scale-110 duration-200 bg-zinc-800 hover:border-indigo-500 hover:text-indigo-500"
    >
        <GithubIcon />
    </a>

    <a
        target="_blank"
        rel="noreferrer"
        href="https://www.linkedin.com/in/toma-rosa/"
        class="p-2 border-2 rounded-md hover:scale-110 duration-200 bg-zinc-800 hover:border-indigo-500 hover:text-indigo-500"
    >
        <LinkedinIcon />
    </a>
</nav>
