---
import GithubLink from "@/components/github-link.astro";
import LinkedinLink from "@/components/linkedin-link.astro";
---

<nav class="flex items-center justify-center gap-6">
    <GithubLink />
    <LinkedinLink />
</nav>
