---
import ViteIcon from "./icons/vite-icon.astro";
import ReactIcon from "./icons/react-icon.astro";
import TypescriptIcon from "./icons/typescript-icon.astro";
import CSharpIcon from "./icons/c-sharp-icon.astro";
import DockerIcon from "./icons/docker-icon.astro";
import PostgresqlIcon from "./icons/postgresql-icon.astro";
---

<section id="projects">
    <header
        class="sm:w-8/12 lg:w-4/12 h-20 mx-auto grid place-items-center bg-gradient-to-r from-transparent via-zinc-100/5 border-y border-zinc-700 to-transparent"
    >
        <h2 class="text-4xl">Projects</h2>
    </header>
    <div class="grid gap-6 p-6">
        <div class="border-zinc-400 border">
            <img
                alt="Astradal map designer project"
                class="aspect-square p-3"
            />
            <div class="flex gap-6 border-t border-zinc-400 p-3 items-center">
                <div class="flex gap-3">
                    <ViteIcon />
                    <ReactIcon />
                    <TypescriptIcon />
                </div>
                <div class="flex gap-3">
                    <CSharpIcon />
                    <PostgresqlIcon />
                    <DockerIcon />
                </div>
            </div>
        </div>
        <div class="border p-3">A</div>
        <div class="border p-3">A</div>
    </div>
</section>
