---
import ProjectsLayout from "@/layouts/projects.astro";
import janeDo from "@/assets/jane-do.svg";
import logo from "@/assets/logo.svg";
import { Image } from "astro:assets";
---

<ProjectsLayout>
  <ul role="list" class="flex flex-col space-y-16">
    <li class="overflow-hidden">
      <a href="https://www.janedoagency.com" class="">
        <Image src={janeDo} alt="Jane Do Agency logo" class="h-24 w-24" />
      </a>
    </li>
    <li class="overflow-hidden">
      <a data-portfolio href="https://github.com/t-rosa/www.t-rosa.com">
        <Image src={logo} alt="Jane Do Agency logo" class="h-24 w-24" />
      </a>
    </li>
  </ul>
</ProjectsLayout>

<style>
  body:has(a[data-portfolio]:hover) {
    @apply bg-[center_top];
  }
</style>
