---
import "@fontsource/poppins";
---

<!DOCTYPE html>
<html lang="en" class="font-[Poppins] bg-zinc-900 text-zinc-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>t-rosa.com</title>
  </head>
  <body>
    <slot />
  </body>
</html>
