---
import { Font } from "astro:assets";
import "../styles/global.css";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#000000" />
    <meta name="apple-mobile-web-app-title" content="t-rosa" />
    <meta name="generator" content={Astro.generator} />
    <title>Toma Rosa</title>
  </head>
  <body>
    <slot />
  </body>
  <Font cssVariable="--font-montserrat" preload />
  <Font cssVariable="--font-inter" preload />
</html>
