---
import "@/index.css";
import { ViewTransitions } from "astro:transitions";
---

<html lang={Astro.currentLocale} class="bg-zinc-800">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Toma Rosa web developper portfolio website"
        />
        <title>t-rosa</title>
        <ViewTransitions />
    </head>
    <body class="bg-[url('/pattern.jpg')] text-zinc-100">
        <div id="container">
            <slot />
        </div>
    </body>
</html>
